<div class="container">
    <div class="card">
        <h1>Compose Email</h1>
        <form (ngSubmit)="doSubmitForm()">
        <mat-form-field class="feild" appearance="outline">
            <mat-label>To:</mat-label>
            <input name="to" [(ngModel)]="data.to" matInput>
          </mat-form-field>
          <mat-form-field class="feild" appearance="outline">
            <mat-label>Subject:</mat-label>
            <input name="subject" [(ngModel)]="data.subject" matInput>
          </mat-form-field>
          <mat-form-field class="feild" appearance="outline">
            <mat-label>Message</mat-label>
            <textarea name="message" [(ngModel)]="data.message" rows="10" matInput></textarea>
          </mat-form-field>
          <div class="text-center">
            <mat-spinner *ngIf="loaded" style="margin: auto;"></mat-spinner>
              <button [disabled]="loaded" type="submit" class="button" mat-raised-button color="primary">Send</button>
              <button type="reset" class="button"  mat-raised-button color="accent">Reset</button>
          </div>
        </form>
        <!-- {{data | json}} -->
    </div>
</div>
